<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title%></title>
    <%= csrf_meta_tags %>
    <meta name = "keywords" content = "<%= @seo_keywords%>">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/blog_nav"%>
    <!-- start of blog header -->
     <%= render "shared/blog_masthead"%>
    <!-- end of blog header -->
    <!-- start of main blog -->
    <div class="container">
      <div class="row">
        <%= yield %>
        <!-- start of sidebar -->
        <%= render 'shared/blog_sidebar'%>
      </div>
      <!-- end of row -->
        <!-- end of sidebar -->
        <!-- <%= render "shared/nav", location: 'bottom'%> -->
        <!-- <%= source_helper("alert alert-info")%> -->
        <%= render "shared/blog_footer"%>
        <%= alerts %>

    </div>
    <!-- end of container -->
  </body>
</html>
